[submodule ".dependencies/FTXUI"]
	path = .dependencies/FTXUI
	url = https://github.com/ArthurSonzogni/FTXUI.git
[submodule ".dependencies/tree-sitter-typescript"]
	path = .dependencies/tree-sitter-typescript
	url = https://github.com/tree-sitter/tree-sitter-typescript.git
[submodule ".dependencies/tree-sitter"]
	path = .dependencies/tree-sitter
	url = https://github.com/tree-sitter/tree-sitter.git